# python 3.8.13
numpy
matplotlib
pandas
opencv-python
tqdm
torchsummary
randaugment
gdown
tensorboard
stable-baselines3==1.6.0
gym==0.21.0
gym-super-mario-bros==7.3.0

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cu113
torchvision==0.12.0+cu113
torchaudio==0.11.0+cu113